.article {
    max-width: 600px;
    padding: 20px;
    box-shadow: 2px 2px 8px rgb(219, 7, 7);
    margin: 20px auto;
}

.article__header {
color: rgb(172, 46, 46);
}

.article__paragraph {
    color: rgb(82, 77, 77);
}
.article__paragraph--highlighted {
    color: rgb(4, 255, 255);
}

.section__header {
    color: rgb(70, 119, 255);
    background-color: rgb(194, 191, 33);
    text-align: center;
}

.section__button {
    max-width: 500px;
    padding-left: 0px
}

.table__header {
    background-color: crimson;
    color: white;
    font-weight: normal;
}

.table__cell {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.table__style {
    border-collapse: collapse;
    width: 100%;
}

.table__tableRow:hover {
    background: #ddd;
}

.table__tableRow:nth-child(ever) {
    background: rgb(136, 136, 136);
}